body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
.fa {
    padding: 6px;
    font-size: 10px;
    width: 13px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  .fa-linkedin {
      background: #0a66c2;
      color: white;
  }
  .fa-github {
      background: #000000;
      color: white;
  }
  .fa-envelope {
      background: #312167;
      color: white;

  }
  .fa-steam{
      background: #bdbdbd;
      color: black;

  }
  .fa-twitter{
      background: #55ACEE;
      color: white;
  }
h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 0em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
    margin-top: 0
    align-text center;
}

h3, h4 {
    margin: 0
}

main { 
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 1em;
}
header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 1em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
    text-align: center;
    overflow-wrap: break-word;
}
#mainLeft {
    border-right: 1px solid lightgray;
}
a {
    color: black;
}
ul {
    list-style-position: inside;
    display: inline
}

